.city-name{
    color: aqua;
    font: 20px;
}
.title-container{
    background-color: rgb(215, 244, 250);
    color: rgb(226, 226, 240);
}
.title-admin-container{
    background-color: antiquewhite;
    color: blue;
}
.title-endUser-container{
    background-color: rgb(239, 142, 15);
    color: rgb(132, 255, 0);
    font-size: 25px;
    min-height:50px ;
}
.title-support-container{
    background-color: rgb(230, 247, 79);
    color: rgb(255, 0, 17);
}
.highlight{
    background-color: cadetblue;
}